# Archivos y carpetas de Visual Studio Code
.vscode/
*.code-workspace

# Sistema operativo
.DS_Store           # macOS
Thumbs.db           # Windows miniaturas
ehthumbs.db
desktop.ini

# Archivos de dependencias (si llegas a usar npm)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos de compilación o build (si en un futuro usas herramientas)
dist/
build/
.cache/
.tmp/

# Archivos de entorno
.env
.env.local
.env.*.local
