/* ===== Configuración general ===== */
body {
  font-family: 'Poppins', sans-serif;
  background-color: #000000;
  color: #f5f5f5;
  margin: 0;
  padding: 0;
}

/* ===== Barra superior ===== */
.top-bar {
  display: flex;
  align-items: center;
  background-color: #2e2e2e;
  padding: 10px 20px;
  border-bottom: 2px solid #461561;
}

.page-title {
  flex: 1;
  text-align: center;
  font-size: 1.4rem;
  margin: 0;
  color: #fff;
}

.back-btn {
  background: none;
  border: none;
  color: #fff;
  font-size: 1.4rem;
  cursor: pointer;
  transition: color 0.3s;
}
.back-btn:hover {
  color: #723680;
}

/* ===== Información de la película ===== */
.movie-info {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
}

.movie-poster {
  width: 250px;
  height: 370px;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid #723680;
  flex-shrink: 0;
}

.movie-details {
  flex: 1;
}

.movie-title {
  color: #fff;
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.movie-desc {
  margin-top: 10px;
  line-height: 1.5;
  color: #ccc;
}

/* ===== Reseñas ===== */
.reviews {
  padding: 20px;
}

.section-title {
  font-size: 1.3rem;
  margin-bottom: 15px;
  color: #fff;
}

.review-card {
  display: flex;
  background-color: #1e1e1e;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 15px;
  gap: 15px;
  align-items: flex-start;
}

.profile-pic img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #723680;
}

.review-content {
  flex: 1;
}

.username {
  margin: 0;
  color: #fff;
  font-weight: bold;
}

.rating {
  display: flex;
  gap: 5px;
  margin: 6px 0;
}

.circle {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #723680;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 0.9rem;
}

.circle.empty {
  background-color: #2e2e2e;
}

/* ===== Botón flotante ===== */
.add-review-btn {
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 60px;
  height: 60px;
  background-color: #461561;
  color: #fff;
  border: none;
  border-radius: 50%;
  font-size: 2rem;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(155, 18, 193, 0.519);
  transition: background-color 0.3s, transform 0.2s;
}

.add-review-btn:hover {
  background-color: #723680;
  transform: scale(1.1);
}

/* Responsive */
@media (max-width: 768px) {
  .movie-info {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}